body {
   padding: 30px;  
}

h1 { 
   color: black; 
   background-color: White;
   text-align: centre;
  }
  
 h2 {
     color: black;
     text-decoration: underline;
 } 
   
 p { 
    font-family: arial; 
    font-size: 10px; 
    text-align: left;
}

img {
   max-width: 100%;
   width: 200px;
   display: float;
   float: left;
   margin-right: 1em;
}
  
ul {
   margin-top: 1em;  
}
 
  



   



